<div class="amimportcore-table-container">
    <table class="amimportcore-fields-table" data-role="grid">
        <thead class="amimportcore-thead -search">
            <tr class="amimportcore-row">
                <th class="amimportcore-th">
                    <input type="checkbox" data-bind="
                                                checked: allSelectedState,
                                                click: checkClick.bind($data, $parent)"/>
                </th>
                <th class="amimportcore-th">
                    <div class="amimportcore-search-container">
                        <div class="amimportcore-search-input">
                            <input class="amimportcore-search"
                                   type="text"
                                   data-bind="
                                        value: searchValue,
                                        valueUpdate: 'afterkeydown',
                                        attr: {placeholder: $t('Search')},
                                        event: {'keyup': changeSearch.bind($data)}"/>
                            <span class="amimportcore-reset -hidden" data-bind="css: {'-hidden': !isSearchActive()}, click: clearSearch.bind($data)"></span>
                        </div>
                    </div>
                </th>
                <th class="amimportcore-th -button">
                    <button class="action-primary"
                            data-bind="i18n: 'Search', click: searchClick.bind($data)">
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
        <!-- ko if: $data.fields -->
            <!-- ko repeat: {foreach: $data.isSearchActive() ? $data.searchFields() : $data.fields, item: 'field'} -->
                <tr class="amimportcore-row">
                    <td class="amimportcore-td -checkbox">
                        <input type="checkbox"
                               data-bind="
                                    attr: {id: uniqFor + field().code},
                                    checkedValue: field().code,
                                    checked: $data.selected" />
                    </td>
                    <td class="amimportcore-td -label">
                        <label data-bind="text: $data.getLabel(field().label, field().name), attr: {for: uniqFor + field().code}" style="cursor:pointer"/>
                    </td>
                    <td class="amimportcore-td -button">
                        <button class="amimportcore-button"
                                data-bind="i18n: 'Map', click: $data.addField.bind($data, $parent, field())"></button>
                    </td>
            </tr>
            <!-- /ko -->
        <!-- /ko -->
        </tbody>
    </table>
</div>
