<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Mostviewed
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Amasty_Mostviewed::mostviewed" title="Amasty Related Products" module="Amasty_Mostviewed" parent="Magento_Catalog::catalog" sortOrder="150" resource="Amasty_Mostviewed::mostviewed"/>
        <add id="Amasty_Mostviewed::rule" title="Related Product Rules" sortOrder="10" module="Amasty_Mostviewed" parent="Amasty_Mostviewed::mostviewed" action="amasty_mostviewed/product_group/" resource="Amasty_Mostviewed::rule"/>
        <add id="Amasty_Mostviewed::pack" title="Bundle Packs" sortOrder="20" module="Amasty_Mostviewed" parent="Amasty_Mostviewed::mostviewed" action="amasty_mostviewed/pack/" resource="Amasty_Mostviewed::pack"/>
    </menu>
</config>
