<?xml version="1.0" ?>
<!--
/*
 * Define module name and module version
 * Register extension Mostviewd 
 * Created by HA 2022.07.06
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Pixelmechanics_Mostviewed" setup_version="1.0.0">
	</module>
</config>