<?xml version="1.0" ?>
<!--
/*
 * Define module name and module version
 * Register extension
 * Created by AA 02.07.2019
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Pixelmechanics_Agreements" setup_version="1.0.0">
		<sequence>
			<module name="Magento_CheckoutAgreements"/>
		</sequence>
	</module>
</config>
