<div style="margin-top:10px; margin-bottom: 10px;">
    <div html="content1"
         css="$data.additionalClasses"
         visible="visible"
         style="font-weight: 600;"></div>

    <div html="content2"
         css="$data.additionalClasses"
         visible="visible"
         style="font-weight: 600;"></div>
    <!-- ko if: content3 -->
    <div html="content3"
         css="$data.additionalClasses"
         visible="visible"
         style="font-weight: 600;"></div>
    <!-- /ko -->
</div>
