<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Mostviewed
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ammostviewed>
            <general>
                <period>30</period>
                <order_status>0</order_status>
                <limit>1000</limit>
            </general>
            <bundle_packs>
                <position>below</position>
                <tab_title>Bundle Packs</tab_title>
                <menu_item_label>Bundle Packs</menu_item_label>
            </bundle_packs>
        </ammostviewed>
    </default>
</config>
