<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <amgiftcard>
            <general>
                <allow_cart_price_rule_for_am_gift_card>0</allow_cart_price_rule_for_am_gift_card>
            </general>
        </amgiftcard>
    </default>
</config>
