<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Amasty_ImportCore::config" title="Amasty Import Settings" sortOrder="091316" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::system">
                    <resource id="Amasty_ImportCore::importcore" title="Amasty Import" sortOrder="091316">
                        <resource id="Amasty_ImportCore::import" title="Import" translate="title" sortOrder="15"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
