@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap');
	body{
		font-family: 'Josefin Sans', sans-serif;
		font-size: 16px;
	    line-height: 19px;
	    margin: 0;
	    padding: 0;
	    color: #999;
	}
	.offline-banner{
		text-align: center;
	}
	.offline-banner img {
	    width: 100%;
	}
	img{
		max-width: 100%;
	}
	a{
		text-decoration: none;
	}
	.text-center{
		text-align: center;
	}
	.page-main{
		padding: 0;
	}
	.container{
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
	}
	.head{
		padding: 30px 0;
	}
	.offline-content{
		margin: 100px 0;
	}
	.offline-content h3{
		font-size: 26px;
	    font-weight: 600;
	    color: #191919;
	    margin: 0 0 20px;
	}
	.content-col{
		margin-bottom: 30px;
	}
	.content-col p{
		margin-bottom: 10px;
	}
	.content-col p strong{
		color: #191919;
	}
	.content-col p a{
		color: #f5a079;
	}
	.content-col p a:hover{
		text-decoration: underline;
	}
	.offline-footer{
		background: #fcfcfc;
		padding: 60px 0;
	}
	.offline-footer h4{
		font-size: 20px;
	    color: #191919;
	    margin: 0 0 20px;
    	font-weight: 600;
	}
	.offline-footer p{
		color: #373f44;
	}
	.offline-footer p a{
		color: #f5a079;
	}
	.offline-footer p a:hover{
		text-decoration: underline;		
	}
	.copyright{
		padding: 50px 0;
	}
	.copyright p{
		margin: 0;
	}
	.copyright span{
		color: #f5a079;		
	}