<?xml version="1.0"?>
<!--
/*
 * Define module name and module version
 * Register extension
 * Created by AA 24.04.2019
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Pixelmechanics_ConfigurableSwatcher" setup_version="1.0.0">
    </module>
</config>

