<span class="amcard-title" data-bind="i18n: 'Recipient Phone'"></span>
<div class="amcard-field-block">
    <input type="text"
           name="mobilenumber"
           id="mobilenumber"
           class="amcard-field input-text mobilenumber"
           autocomplete="off"
           placeholder="Recipient Mobile Number"
           data-amcard-js="field"
           maxlength="14"
           pattern="[0-9]">
    <input type="hidden" value="" id="countryreg" name="countryreg" />
</div>
<p class="comment" data-bind="i18n: 'Enter Number With Country code & without any sign. e.g:-(91xxxxxxx09)'"></p>
